.Logo {
  width: 150px;
  height: auto;
}

/* login page */
#login-hero-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#navbar-container{
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 555;
}
#navbar-container.active{
  background-color: rgb(182, 189, 189);
}